<h1>About</h1>

<img src="https://placehold.it/700x300" alt="placeholder-img">

<h2>Citizens: Improve your neighbourhood.</h2>

<p>CityFix is a solution to help you <b>improve the place you live in</b>. If you witness something that needs fixing, such as a cracked pavement or a stained wall, send in a request! Our city public works officers will receive the requests and get to work as soon as they can. You can see on your own user account if your requests have been completed.</p>

<h2>City Public Works Officers: Simplify your workflow.</h2>

<p>Handling requests from the public has never been simpler. Upon registering with a valid city admin ID, you will receive an overview of the public works requests from all your users. Feel free to prioritize or group your requests in any way that suits you. <b>You should be allowed to focus on doing your work, rather than managing the work.</b></p>

<p>Sign up today!</p>
