<div class="jumbotron">
  <div class="container">
    <h4>Have a problem?</h4>
    <h1>Tell us where. We're on it.</h1>

    <a class="btn btn-success btn-lg" href="/signup">I am a Citizen</a>
    <a class="btn btn-warning btn-lg" href="/signup">I am a City Admin</a>
  </div>
</div>
