<% include ../partials/header-inner %>

<div class="container">

  <% include ../partials/flash %>

  <h1>Register as new user</h1>

  <%- include('../partials/signupForm', {formUrl: '/signup'}) %>
</div>
