<% console.log('index.ejs appears')%>
<h1>[index.ejs] Welcome, (name)!</h1>

<%# FIRST PART: THE FORM %>
<form method="post" action="/issues">
  <h2>Add issue</h2>
  <div class="row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="issues[title]" id="title" placeholder="Title">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="issues[address]" id="address" placeholder="Address (Block and Street)">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="issues[problem]" id="problem" placeholder="Describe your problem">
    </div>
    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-success btn-block">Add issue</button>
    </div>
  </div>
</form>


<h2>My previous requests</h2>

<p>(Put previous requests here)</p>
<p>(Num) Open requests</p>

<button type="submit" class="btn btn-primary" name="button">Submit new request</button>
