<% include ../partials/header-inner %>

<div class="container">
  <% include ../partials/flash %>

  <% if (user.local.isAdmin === false) { %>

    <h1 class="heading">Welcome, <%=user.local.firstName%>!</h1>

    <a href="/issues/new" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Submit new issue request</a>

    <% include ../partials/userPendingRequests %>
    <% include ../partials/userCompletedRequests %>

  <%} else {%>

    <h1 class="heading">Hi, City Admin <%=user.local.firstName%>! Time to work.</h1>

    <% include ../partials/adminDashboard %>
    <% include ../partials/adminMap %>
    <% include ../partials/adminPendingRequests %>
    <% include ../partials/adminCompletedRequests %>

  <% } %>
</div>
