<% include ../partials/header-inner %>

<div class="container">
  <% include ../partials/flash %>

  <% if (user.local.isAdmin === false) { %>

    <h1 class="heading">Welcome, <%=user.local.firstName%>!</h1>

    <a href="/issues/new" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Submit new issue request</a>

    <% include ../partials/userPendingRequests %>
    <% include ../partials/userCompletedRequests %>

  <%} else {%>

    <h1 class="heading">Hi, City Admin <%=user.local.firstName%>! Time to work.</h1>

    <div id="map"></div>

    <script>

      function initMap() {
              var uluru = {lat: -25.363, lng: 131.044};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: uluru
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map
              });
            }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByUpVKGIl-ZT0MxU0yJBBIDdL_SIEVrJg&callback=initMap"></script>

    <iframe class="admin-map" src="https://www.google.com/maps/d/embed?mid=1jYb4mswYi1NPLrGWl29daHLCva0"></iframe>

    <% include ../partials/adminPendingRequests %>
    <% include ../partials/adminCompletedRequests %>

  <% } %>
</div>
