<% include ../partials/header-inner %>

<div class="container">

  <% if (user.local.isAdmin === false) { %>

    <% include ../partials/userViewIssue %>

  <%} else {%>

    <% include ../partials/adminViewIssue %>

  <% } %>

</div>
